body {
  background-color: HoneyDew;
  font-size: 120%;
  text-decoration-color: White;
}
img {
  margin: 15px;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px;
  font-size: 250%;
  color: LimeGreen;
}
h2 {
   font-size: 120%;
   text-align: center;
}
h4 {
  text-align: left;
  font-size: 120%;
}
h3 {
  text-align: center;
}
label {
  float: left;
  width: 37em;
  text-align: right;
}
input {
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.subhead_text {
  background-color: PaleGreen;
  margin: 15px;
}
.logo_image {
  border-radius: 60%;
  height: 10%;
  width: 10%;
}
.quote_text {
  margin: 15px;
  text-align: left;
  font-size: 130%;
}
.button {
  width: 5em;
  margin-left: 53em;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer_text {
  text-align: center;
  color: LimeGreen;
}
